{% extends 'base.html' %} {% block content %}
<h2>Add Task</h2>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.title.label(class_='form-label') }} {{
    form.title(class_='form-control') }}
  </div>
  <div class="mb-3">
    {{ form.description.label(class_='form-label') }} {{
    form.description(class_='form-control') }}
  </div>
  <div class="mb-3">
    {{ form.due_date.label(class_='form-label') }} {{
    form.due_date(class_='form-control') }}
  </div>
  <div class="mb-3 form-check">
    {{ form.completed(class_='form-check-input') }} {{
    form.completed.label(class_='form-check-label') }}
  </div>
  <button class="btn btn-primary">Create</button>
</form>

{% endblock %}
